* {
    padding: 10px;
    margin: 10px;
}
body {
    padding: 0px;
}
.content_container {
    width: 80%;
    margin: 0 auto;
}
.image_caption {
    text-align: center;
    padding-right: 0px;
    margin-right: 30px;
    background: silver; 
    width: 30%;
    float: left;
    border: 2px red solid; 
}
.image_caption img {
    width: 90%;
    margin: auto;
    display: block;
}
.clearall {
    border: 0px;
    clear: both;
}
nav {
    text-align: right; 
}
nav li {
    color: white;
    display: inline-block;
} 
nav li a {
    text-decoration: none;
    color: white;
}
nav li a:hover {
    color: yellow;
} 
nav li a:active {
    color: pink;
} 
header {
    position: relative;
    min-height: 200px;
    background-color: lightgrey;
    background-image: url('../images/Hypo_Real_Estate-Logo_sm.png');
    background-repeat: no-repeat;
    background-position: top 20px right 20px;
}
header img {
    width: 95%;
}
header h2 {
    position: absolute;
    bottom: 0px; 
}
nav {
    background: black;
}
section {
    background: white;
}
    
section p, ul, pre {
    padding-left: 80px;
}

.left {
    float: left;
    width: 40%;
}
.right {
    float: left;
    width: 50%;
}
.gallery {
    padding-left: 150px;
}

footer {
    color: #148957;
    background-color: darkgrey;
}
